<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Admin Interface</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Maven Pro">

  <link href="/admin/styles/style.css" rel="stylesheet" type="text/css">
  <link href="/admin/styles/admin.css" rel="stylesheet" type="text/css">
</head>
<body>
    <img src='/admin/img/logo_3.png' alt='NoktJS' class="logo" />
      <div class="admin_creation_block">
        <h2>WELCOME TO YOUR ADMIN OFFICE !</h2>
        <form id="super_user">
          <input type="text"  id="pseudo" placeholder="USERNAME"/>
          <input type="password" id="password" placeholder="PASSWORD"/>
          <button type="submit" class="submit"><div>LOGIN</div></button>
        </form>
      </div>
</body>
</html>