body {
    background-color: #F4F5F5;
    min-height: 100vh;
    font-size: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    color: #214245;
    font-family: "Maven Pro";
    margin:0;
    padding: 0;
}

body *{
    margin:0;
    padding: 0;
}

.logo{
    width: 150px;
    height: 150px;
    animation-timing-function: ease-in-out;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: move;
    margin-top: 20px;
}
h1{
    margin-top: 20px;
    margin-bottom: 20px;
}
.project{
    color:#A61C3C;
    font-weight: 800;
}

.admin_creation_block{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 35px;
    padding-bottom: 35px;
    background-color: #2A2B3C;
    color: #F4F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
}
.admin_creation_block h2{
    line-height: 0.75em;
    margin-bottom: 20px;
}
.admin_creation_block form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70%;
}
.admin_creation_block input, .submit{
    background-color: white;
    border: 0;
    margin-top: 5px;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: "Maven Pro";
    font-size: 1rem;
    color: #214245;
    overflow: hidden;
}
.admin_creation_block .submit{
    background-color: #A61C3C;
    color: white;
    cursor:pointer;
    position: relative;
    transition: all 0.36s ease-in-out;
}

.admin_creation_block .submit:hover {
    color: #214245;
}

.admin_creation_block .submit div {
    position: relative;
    z-index: 1;
}

.admin_creation_block .submit:before {
    content: "";
    display: block;
    background-color: white;
    position: absolute;
    width: 200%;
    height: 500%;
    border-radius: 100%;
    transition: 0.36s cubic-bezier(0.4, 0, 1, 1);
}
.admin_creation_block .submit:before {
    transform: translate(-120%, -50%) translateZ(0);
}

.admin_creation_block .submit:hover:before {
    transform: translate(-45%, -34%) translateZ(0);
}

.stats{
    margin-top: 30px;
    display: flex;
    width: 80%;
    justify-content: space-between;
}
.stats div:before {
    content: "";
    display: block;
    background-color: #2A2B3C;
    position: absolute;
    width: 200%;
    height: 500%;
    border-radius: 100%;
    transition: 0.5s cubic-bezier(0.4, 0, 1, 1);
}
.stats div:before {
    transform: translate(-50%, -80%) translateZ(0);
}
.stats div:hover:before {
    transform: translate(0%, 20%) translateZ(0);
}
.stats div:hover span{
    color: white;
    transform: translate(0,-500%) scale(150%);
}

.stats div span {
    transition: all 0.3s ease-in-out;
    z-index: 1;
}
.stats div{
    height: 15vw;
    width: 15vw;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor:pointer;
    position: relative;
    overflow: hidden;
}

.stats div img{
    width:60%;
    height:60%;
    object-fit: contain;
    margin-bottom: 20px;
}
.stats .good {
    color: #35696E;
    background-color: #D7EAEA;
}

.stats .bad {
    color: #A61C3C;
    background-color: #F6CBD5;
}
@keyframes move{
    0%{
        transform: translate(0,4%);
    }
    50% {
        transform: translate(0, 0%);
    }
    100% {
        transform: translate(0, 4%);
    }
}